<!-- <div class="row">
    <div class="col-md-2">
        <nav id="sidebar" class="navbar-dark" style="background-color: #044EA0;">
            <ul class="navbar-nav ">
                <li class="border-bottom-line">
                    <a class="nav-link  text-left" style="color: white;" routerLink="/user/dashboard" href="#" data-toggle="pill" role="tab">Dashboard</a>
                </li>

                <li class="border-bottom-line">
                    <a class="nav-link  text-left" style="color: white;" routerLink="/admission/user/application-forms" href="#" data-toggle="pill" role="tab">Application Form(s)</a>
                </li>
                <li class="border-bottom-line">
                    <a class="nav-link  text-left" style="color: white;" routerLink="/admission/user/applications" href="#" data-toggle="pill" role="tab">Applications</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div> -->

<router-outlet></router-outlet>