<!-- <router-outlet></router-outlet> -->

<section class="container-fluid flex-grow">
    <div class="row" *ngIf="currentUser.userType !='STUDENT'">
        <div class="col-md-10 order-md-1 pt-3">
            <div class="bg-faded mb-3">
                <div class="card bg-light">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="col-md-2 order-md-2 pt-4">
            <div class="list-group">
                <a routerLink="/announcement/home" class="list-group-item list-group-item-action" [routerLinkActiveOptions]="{exact:
              true}" routerLinkActive="active-link"><i class="fa fa-home"></i>&nbsp;Home</a>
                <a routerLink="/announcement/compose" class="list-group-item list-group-item-action" [routerLinkActiveOptions]="{exact:
                  true}" routerLinkActive="active-link"><i class="fa fa-edit"></i>&nbsp;Compose</a>
                <a routerLink="/announcement/send" class="list-group-item list-group-item-action" [routerLinkActiveOptions]="{exact:
                      true}" routerLinkActive="active-link"><i class="fa fa-paper-plane"></i>&nbsp;Sent</a>
                      <a routerLink="/announcement/sentsms" class="list-group-item list-group-item-action" [routerLinkActiveOptions]="{exact:
                        true}" routerLinkActive="active-link"><i class="fa fa-edit"></i>&nbsp;Communication Sms</a>
                      <a routerLink="/announcement/monthlysms" class="list-group-item list-group-item-action" [routerLinkActiveOptions]="{exact:
                            true}" routerLinkActive="active-link"><i class="fa fa-paper-plane"></i>&nbsp;Monthly Sms</a>
                          
                    </div>
        </div>
    </div>
    <div class="row" *ngIf="currentUser.userType=='STUDENT'">
        <div class="col-md-12 order-md-1 pt-3">
            <div class="bg-faded mb-3">
                <div class="card bg-light">
                    <router-outlet></router-outlet>
                </div>
            </div>
            </div>
        </div></section>