<div class="modal-header">
  <h4>Academic Year</h4><button type="button" (click)="close()" class="close" aria-label="Close"  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 <form  #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)" appSemValidation="['currentYear','currentSem']" novalidate>
  <div class="form-group row mt-3">
    <label class="col-sm-4 text-right ">Start Year<span class="text-danger">*</span>:</label>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
   <input  type="text" class="form-control" name="startYear"  
   #startYear="ngModel" [(ngModel)]="data.startYear" ngModel value="{{data.startYear}}"
    minlength="4" pattern="^[0-9]+$" required  [class.is-invalid]="!startYear?.valid && (startYear?.dirty || startYear?.touched)" >
       
  <small> Give the year as full ex:  <i class="badge badge-success">2017</i></small>
  <div *ngIf="!startYear?.valid && (startYear?.dirty || startYear?.touched)" class="error">
    <div *ngIf="startYear.errors.required">
       <small class="text-danger"> Year is required</small>
    </div>
   
    <div *ngIf="startYear.errors.minlength">
     <small class="text-danger">  Minimum Length is {{startYear.errors.minlength?.requiredLength}}</small>  
    </div>
    <div *ngIf="startYear.errors.pattern">
      <small class="text-danger">Number are required</small>  

    </div>
  </div>
  </div>
  </div>





  <div class="form-group row mt-3">
    <label class="col-sm-4 text-right ">End Year<span class="text-danger">*</span>:</label>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
   <input  type="text" class="form-control" name="endYear" minlength="4" pattern="^[0-9]+$" required
   #endYear="ngModel" [(ngModel)]="data.endYear" ngModel value="{{data.endYear}}"
   [class.is-invalid]="!endYear?.valid && (endYear?.dirty || endYear?.touched)">
  <small> Give the year as full ex: <i class="badge badge-success">2019</i></small>
  <div *ngIf="!endYear?.valid && (endYear?.dirty || endYear?.touched)" class="error">
  <div *ngIf="endYear.errors.required">
    <small class="text-danger"> Year is required</small>
 </div>

 <div *ngIf="endYear.errors.minlength">
  <small class="text-danger">  Minimum Length is {{endYear.errors.minlength?.requiredLength}}</small>  
 </div>
 <div *ngIf="endYear.errors.pattern">
   <small class="text-danger">Number are required</small>  

 </div>
</div>
  </div>
  </div>

  <div class="form-group row mt-3">
    <label class="col-sm-4 text-right ">Regulation:</label>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
   <input  type="text" class="form-control" name="regulation"
   #regulation="ngModel" [(ngModel)]="data.regulation" ngModel value="{{data.regulation}}" disabled>
   </div>
  </div>

  <div class="form-group row mt-3">
    <label for="Select1" class="col-sm-4 text-right ">Type<span class="text-danger">*</span>:</label>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <select class="form-control" name="type" 
    #type="ngModel" [(ngModel)]="data.type" ngModel value="{{data.type}}" id="Select1"
     required [class.is-invalid]="!type?.valid && (type?.dirty || type?.touched)">
      <option value="" [disabled]=true>-----select-----</option>
      <option value="sem">sem</option>
      <option value="year">year</option>
    </select>
    <div *ngIf="!type?.valid && (type?.dirty || type?.touched)" class="error">
      <div *ngIf="type.errors.required">
        <small class="text-danger"> Type is required</small>
     </div>
    </div>    
    </div>
  </div>

  <div class="form-group row mt-3">
    <label for="Select2" class="col-sm-4 text-right ">No. Of Years<span class="text-danger">*</span>:</label>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <select class="form-control" name="noOfYears" 
    #noOfYears="ngModel" [(ngModel)]="data.noOfYears" ngModel value="{{data.noOfYears}}"
    [class.is-invalid]="!noOfYears?.valid && (noOfYears?.dirty || noOfYears?.touched)" required id="Select1">
      <option value="" [disabled]=true>-----select-----</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
     </select>
     <div *ngIf="!noOfYears?.valid && (noOfYears?.dirty || noOfYears?.touched)" class="error">
      <div *ngIf="noOfYears.errors.required">
        <small class="text-danger"> no of years is required</small>
     </div></div>
    </div>
  </div>


  <div class="form-group row mt-3">
    <label for="Select3" class="col-sm-4 text-right ">Current Year<span class="text-danger">*</span>:</label>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <select class="form-control" name="currentYear" 
    #currentYear="ngModel" [(ngModel)]="data.currentYear"  ngModel value="{{data.currentYear}}" 
    [class.is-invalid]="!currentYear?.valid && (currentYear?.dirty || currentYear?.touched)" required id="Select3">
      <option value="" [disabled]=true>-----select-----</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <div *ngIf="!currentYear?.valid && (currentYear?.dirty || currentYear?.touched)" class="error">
      <div *ngIf="currentYear.errors.required">
        <small class="text-danger"> current year is required</small>
     </div>
    
    </div>
    </div>
  </div>

  <div class="form-group row mt-3">
    <label for="Select4" class="col-sm-4 text-right ">Current Sem<span class="text-danger">*</span>:</label>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <select class="form-control" name="currentSem" 
    #currentSem="ngModel" [(ngModel)]="data.currentSem"   ngModel value="{{data.currentSem}}" 
    [class.is-invalid]="!currentSem?.valid && (currentSem?.dirty || currentSem?.touched)" required id="Select4">
      <option value="" [disabled]=true>-----select-----</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <div *ngIf="!currentSem?.valid && (currentSem?.dirty || currentSem?.touched)" class="error">
      <div *ngIf="currentSem.errors.required">
        <small class="text-danger"> current Sem is required</small>
     </div>
     </div>
    </div>
  </div>

   <div class="form-group row mt-3">
    <label class="col-sm-4 text-right ">Forenoon End Time<span class="text-danger">*</span>:</label>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <ng-template #popTemplate>
        <timepicker  [(ngModel)]="FnTime"  name="fnTime" (click)="meridianFormat()" [showMeridian]="true"></timepicker>
      </ng-template>
      <input type="text" class="form-control" [(ngModel)]="data.sessionTime.fnTime"  
      value="{{data.sessionTime.fnTime}}" (change)="meridianFN($event.target.value)" 
      name="FnTime" [popover]="popTemplate"
       [outsideClick]="true" placement="top" required  >
   </div>
  </div>
 
  <div class="form-group row mt-3">
    <label class="col-sm-4 text-right ">Afternoon End Time<span class="text-danger">*</span>:</label>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
      <ng-template #pop>
        <timepicker [(ngModel)]="AnTime" (click)="meridianAn()" name="AnTime" [showMeridian]="true"></timepicker>
      </ng-template>
   <input  type="text" class="form-control" name="anTime" 
   value="{{ data.sessionTime.anTime }}"  [(ngModel)]="data.sessionTime.anTime" (change)="meridianAN($event.target.value)"  
    [popover]="pop" name="anTime" [outsideClick]="true" placement="top" >
   </div>
  </div>

  <div class="text-center">
  <div class="form-check ">
    <input type="checkbox" class="form-check-input" (click)="check()" [checked]="checked"
    id="Check1">
    <label class="form-check-label"   name="check" for="Check1">Make this academic year inactive </label>
  </div>
</div>

 <button type="submit" class="btn btn-success float-right mr-5 mb-3" [disabled]="!updateForm.valid">Submit</button>

 </form>