<section class="container-fluid flex-grow">
  <h3 style="text-align:center;margin-top: 15px">Compose Assignment</h3>
  <div class="row">


    <div class="card-body">
      <div class="container">
        <div class="alert alert-info" role="alert">
          1. Supported image format (should be less than 1MB) *.jpg, *.jpeg, *.png <br>
          2. Supported documents (should be less than 10MB) *.pdf, *.doc, *.docx, *.xls, *.xlsx, *.ppt, *.pptx, *.odt,
          *.ods, *.odp, *.txt <br>
          3. Supported compressed format (should be less than 10MB) *.zip, *.rar, *.7z
        </div>

        <div class="card-body">

          <div class="col-md-10">
            <div class="container">
              <form class="form" #composeForm="ngForm">

                <div class="form-group row">
                  <label class="col-md-4 my-1 text-right">Title<span class="text-danger">*</span>:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" #title="ngModel" required name="title" placeholder="Title"
                      [(ngModel)]="save.title" ngModel required>
                    <small *ngIf="!title.valid && title.touched" class="text-danger">Title required.</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 my-1 text-right">Description<span class="text-danger">*</span>:</label>
                  <div class="col-md-8">
                    <textarea class="form-control" #message="ngModel" required name="message"  placeholder="Description"  [(ngModel)]="save.message"
                      ngModel></textarea>
                    <small *ngIf="!message.valid && message.touched" class="text-danger">Description required.</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 my-2 text-right">Attach File :</label> &nbsp;
                  <div class="col-md-7 mx-2">
                    <!-- <div class="custom-file"> -->
                      <input type="file" required class="custom-file-input" id="file"
                        (change)="handleFileInput($event.target.files)">
                      <label class="custom-file-label" for="file">{{fileLable}}</label>
                      <small *ngIf="!file.valid && file.touched" class="text-danger">File required.</small>
                    <!-- </div> -->
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-4 my-1 text-right">Deadline<span class="text-danger">*</span>:</label>

                  <div class="col-md-8">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="d2" [(ngModel)]="save.deadLine"
                        ngbDatepicker #d2="ngbDatepicker" required>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary fa fa-calendar " (click)="d2.toggle()" type="button"
                          aria-required="true" #date></button>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 text-right">
                    <small class="text-danger" *ngIf="invalidDate">Deadline should not be less than current date</small>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4  text-right">Select Subject<span class="text-danger">*</span>:</label>
                  <div class="col-md-8">
                    <a data-toggle="modal" [routerLink]="" (click)="subjectPop()">click here</a><br>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-10 offset-md-4" *ngIf="subName!= undefined && subName.length >0">
                      <div #alert class="alert alert-success alert-dismissible " role="status">
                        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        {{subName}}

                      </div>
                    </div>
                  </div>
                </div>

                <br>

                <div class="form-group row">
                  <label class="col-md-4  text-right">Submission<span class="text-danger">*</span> :</label> &nbsp;
                  <div class="col-md-6">

                    <div class=" form-check-inline">
                      <input type="radio" required name="submission" id="" class="form-check-input"
                        #submission="ngModel" required name="submission" value="Enable" [(ngModel)]="save.submission"
                        ngModel>
                      <label class="form-check-label">Enable</label>
                    </div>

                    <div class=" form-check-inline">
                      <input type="radio" id="" class="form-check-input" #submission="ngModel" required
                        name="submission" value="Disable" [(ngModel)]="save.submission" ngModel>
                      <label class="form-check-label">Disable</label>
                    </div>
                  </div>
                </div><br>
                <div class="form-group-row">
                  <div class="col-sm-8 text-right">
                    <button type="submit" class="btn btn-success " (click)="create()">Submit</button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>