<div class="row">
    <div class="col-md-12" style="margin-top:85px;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="shadow-lg p-5 mb-5 bg-white rounded">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" #form="ngForm">
                        <div class="example-container ">
                            <mat-form-field>
                                <input matInput type="password" placeholder="Enter Your Current Password *" formControlName="currentPassword">
                                <mat-error>Please enter current password.</mat-error>
                            </mat-form-field>
                            <div style='color:#ff7355' *ngIf="invalidCurrentPassword">
                                Invalid Current Password</div>
                            <mat-form-field>
                                <input matInput placeholder="Enter Your New Password *" type="password" formControlName="newPassword">
                                <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">Please enter new password.</mat-error>
                                <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('minlength')">Password must be min 6 characters </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder=" Confirm Password *" type="password" formControlName="confirmPassword">
                                <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">Please enter confirm password.</mat-error>
                            </mat-form-field>
                            <mat-error *ngIf="changePasswordForm.get('newPassword').value != changePasswordForm.get('confirmPassword').value">
                                Password does not match</mat-error>
                            <button mat-button class="btn btn-primary mt-3" (click)="changePassword()">SUBMIT</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div>

        </div>
    </div>
</div>