<div class="col-md-12 card card-body bg-light text-dark">
    <section class="container-fluid flex-grow">
        <h3 style="text-align:center">NAAC Manual</h3>
        <div class="row">
            
                <div class="col-md-4">
                    </div>
                    <div class="col-md-6">
                        <a href="https://candidjava.s3.ap-southeast-1.amazonaws.com/naac/SOP+for+Health+Sciences+University.111.pdf" target="_blank">SOP for Health Science University<i class="fa fa-download"></i></a>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"> </div>
                     <div class="col-md-6">
                     <a href="https://candidjava.s3.ap-southeast-1.amazonaws.com/naac/Health-Science-Medical+Manual.pdf" target="_blank">Health Science Medical -Manual<i class="fa fa-download"></i></a>
                     </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4"> </div>
                     <div class="col-md-6">
                     <a href="https://candidjava.s3.ap-southeast-1.amazonaws.com/naac/Health-Science-University-data+template.pdf" target="_blank">Health Science University - Data Template<i class="fa fa-download"></i></a>
                     </div>
                     </div>
                     <div class="row">
            <div class="col-md-4">
                </div>
                <div class="col-md-6">
                    <a href="https://candidjava.s3-ap-southeast-1.amazonaws.com/naac/criterian+1-7.pdf" target="_blank">Criterion 1-7<i class="fa fa-download"></i></a>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        </div>
                        <div class="col-md-6">
                    <a href="https://candidjava.s3-ap-southeast-1.amazonaws.com/naac/Data+Templates.pdf" target="_blank">Data Templates<i class="fa fa-download"></i> </a>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        </div>
                        <div class="col-md-6">
                    <a href="https://candidjava.s3-ap-southeast-1.amazonaws.com/naac/Criterias+1+-+7++in+bullets+key+indicator(SSR).docx" target="_blank">Criterias 1-7<i class="fa fa-download"></i></a>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-4">
                                </div>
                                <div class="col-md-6">
                    <a href="https://candidjava.s3-ap-southeast-1.amazonaws.com/naac/Revised-university-template-updated+2019.xlsx" target="_blank">Revised University Templates <i class="fa fa-download"></i></a>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        </div>
                                        <div class="col-md-6">
                    <a href="https://candidjava.s3-ap-southeast-1.amazonaws.com/naac/salient+points+to+be+covered+(4%2C5%2C6%2C7).pdf" target="_blank">Salient points to be covered NAAC Criterions (4,5,6,7)<i class="fa fa-download"></i></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            </div>
                                            <div class="col-md-6">
                    <a href="https://candidjava.s3-ap-southeast-1.amazonaws.com/naac/Salient+points+to+be+covered+(Criteria+1%2C2%263).pdf" target="_blank">Salient points to be covered NAAC Criterions (1,2 &3)<i class="fa fa-download"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    </div>
                    <div class="col-md-6">
                    <a href="https://candidjava.s3-ap-southeast-1.amazonaws.com/naac/Student+Feedback+form.pdf" target="_blank" >Student Feedback form <i class="fa fa-download"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        </div>
                        <div class="col-md-6">
                    <a href="https://candidjava.s3-ap-southeast-1.amazonaws.com/naac/NAAC-University_SOP.pdf" target="_blank"> Standard Operating Procedure (SOP) For Data Validation and Verification <i class="fa fa-download"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    </div>
                    <div class="col-md-6">
                <a href="https://candidjava.s3-ap-southeast-1.amazonaws.com/naac/Revised-University-Manual-22-01-2020.pdf" target="_blank"> Revised University Manual <i class="fa fa-download"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    </div>
                    <div class="col-md-6">
                        <a href="https://candidjava.s3-ap-southeast-1.amazonaws.com/naac/ExtendedProfileTemplate-Revised-UniversityManual+(1).xlsx" target="_blank"> Extended NAAC Manual <i class="fa fa-download"></i></a>
                
                    </div>
            </div>

        </section>
        </div>