
<div class="list-group nav flex-column nav-pills" id="v-pills-tab" role="tablist">
    <a routerLink="/announcement" data-toggle="pill" role="tab" class="nav-link list-group-item list-group-item-action">Announcement</a>
    <a routerLink="/assignment/studentView" data-toggle="pill" role="tab" class="nav-link list-group-item list-group-item-action">Assignment</a>
<a routerLink="/coursematerial/studentCourseMaterial" data-toggle="pill" role="tab" class="nav-link list-group-item list-group-item-action">Course Material</a>
</div>