<!-- <div class="row justify-content-center">
    <h4>Student Analytics Dashboard</h4>
  </div>
  <div class="card-body">
    <div class="row">
		<span class="col-md-9">
			<ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" data-toggle="tab" routerLink='/dashboard/facultyAnalytics'>Consolidated Faculty</a></li>
                <li class="nav-item"><a  class="nav-link" data-toggle="tab" routerLink='/dashboard/allFacultyAnalytics'>Faculty Report</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" routerLink='/dashboard/departmentAnalytics'>Consolidated Department</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" routerLink='/dashboard/allDepartmentAnalytics'>Department Report</a></li>
            </ul>
            </span>
            </div>
    </div> -->

    
