<div class="col-md-12 card card-body bg-light text-dark">
    <h3 style="text-align:center;">Questions</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="row float-right">
                <div class="col-md-3"></div>
                <div class="col-md-9">

                    <button type="button" class="btn btn-success mb-1" (click)="addnewQuestions()">Create</button>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table *ngIf="questionsstate.length != 0" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="ml-1 text-center">#</th>
                        <th>Title</th>
                        <th class="ml-1 text-center">Edit</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let eachcategory of questionsstate; let i=index">
                        <td class="ml-1 text-center">{{i+1}}</td>
                        <td>{{eachcategory.question}}</td>
                        <td class="ml-1 text-center">
                            <a class="pointer" (click)="editCreditCategory(eachcategory)"><i class="fa fa-pencil" style="color: black;" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="questionsstate.length == 0">
            <div class="text-left">
                <div class="alert alert-warning">
                    <span class="badge badge-warning"> Sorry !</span> No Questions found!.
                </div>
            </div>
        </div>
    </div>
</div>