<section class="container-fluid flex-grow">
    <div class="row">
        <div class="col-md-10 order-md-1 pt-3">
            <div class="bg-faded mb-3">
                <div class="card bg-light">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="col-md-2 order-md-2 pt-4">
            <div class="list-group">
                <a routerLink="/naac/home" class="list-group-item list-group-item-action" [routerLinkActiveOptions]="{exact:
                    true}" routerLinkActive="active-link"><i class="fa fa-home"></i>&nbsp;Home</a>
                <a *ngIf="currentUser.userType =='ADMIN'"routerLink="/naac/template" class="list-group-item list-group-item-action Active" [routerLinkActiveOptions]="{exact:
              true}" routerLinkActive="active-link"><i class="fa fa-book"></i>&nbsp;Template</a>
              <a routerLink="/naac/manual" class="list-group-item list-group-item-action" [routerLinkActiveOptions]="{exact:
                true}" routerLinkActive="active-link"><i class="fa fa-briefcase"></i>&nbsp;Manual</a>
                <a *ngIf="currentUser.userType =='ADMIN' || (singleUser.customRole != undefined && singleUser.customRole.naacReport != undefined)" routerLink="/naac/report" class="list-group-item list-group-item-action Active" [routerLinkActiveOptions]="{exact:
                    true}" routerLinkActive="active-link"><i class="fa fa-book"></i>&nbsp;Report</a>
            </div>
        </div>
    </div>
</section>