<div class="col-md-12 card card-body bg-light text-dark">
    <h3 style="text-align:center;">Feedback Template</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="row  float-right">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <a routerLink="/feedBack/create" class="btn btn-success mb-1"><i
        ></i>&nbsp;Create</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table *ngIf="feedbackdetails.length !=0" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="ml-1 text-center">#</th>
                        <th>Feedback</th>
                        <th> View </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let eachcaregory of feedbackdetails; let i=index">
                        <td class=" ml-1 text-center ">{{i+1}}</td>
                        <td>{{eachcaregory.name}}</td>
                        <td> <a [routerLink]="" class="pointer " class="mx-2 " (click)="getEachFeedbackQuestions(eachcaregory) "><i class= "fa fa-eye " style="color:darkslategray; "></i></a> </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="feedbackdetails.length ==0">
            <div class="text-left">
                <div class="alert alert-warning">
                    <span class="badge badge-warning"> Sorry !</span> No Feedback Template found!.
                </div>
            </div>
        </div>
    </div>

</div>