<!-- <div class="row">
    <div class="col-md-2">
        <nav id="sidebar" class="navbar-dark" style="background-color: #0078d4;">
            <ul class="navbar-nav ">
                <li class="border-bottom-line">
                    <a class="nav-link  text-left" style="color: white;" routerLink="/admission/dashboard" href="#" data-toggle="pill" role="tab">Dashboard</a>
                </li>
                <li class="border-bottom-line">
                    <a class="nav-link  text-left" style="color: white;" routerLink="/admission/all-application" href="#" data-toggle="pill" role="tab">All Application Form(s)</a>
                </li>
                <li class="border-bottom-line">
                    <a class="nav-link  text-left" style="color: white;" routerLink="/admission/profile" href="#" data-toggle="pill" role="tab">My Profile</a>
                </li>
                <li class="border-bottom-line">
                    <a class="nav-link  text-left" style="color: white;" (click)=logout() data-toggle="pill" role="tab">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-10">
        {{applications}}

    </div>
</div> -->