<div style="padding-left: 37%;"><input type="checkbox" [(ngModel)]="sms.checked" [checked]="sms.checked" ><Strong> &nbsp;Send as SMS</Strong></div>
<mat-tab-group >
    <mat-tab label="HOD" > 
        <div class="text-center">
            <h5>Hods</h5>
        </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="selectAllHod" [(ngModel)]="allHodSelected.checked" (change)="selectUnselectAllHod(allHodSelected)">
                <label class="form-check-label" for="selectAllHod">
                    &nbsp; Select All
      
        
        </label>
            </div>

            <div class="form-check" *ngFor="let eachhod of allHods;let i=index ">
                <input class="form-check-input" type="checkbox" [(ngModel)]="eachhod.checked" id="hod" (change)="onChange(eachhod)">
                <label class="form-check-label" for="hod">
                    &nbsp; {{eachhod.name | uppercase}}({{eachhod.dept | uppercase}})
        </label>
        </div>    
    </mat-tab>
    <mat-tab label="STAFFS">
        <div class="text-center">
            <h5>Staffs</h5>
        </div>
            <div style="padding-left: 2%;" *ngIf="staffLoaded">
        <div class="row form-check">
            <input class="form-check-input" type="checkbox" id="selectAllHod" [(ngModel)]="allFacultyDeptSelected.checked" (change)="selectUnselectAllFacultyDepts(allFacultyDeptSelected.checked)">
            <label class="form-check-label" for="selectAllHod">
                &nbsp;Select All
    </label>
        </div>
        <div *ngFor="let eachFacultydept of facultyDepartments;let pi=index ">
            <div class="row form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="eachFacultydept.checked" (change)="selectThisFacultyDeptStaff(pi,eachFacultydept.checked)">
                <label class=" form-check-label " for="hod "> &nbsp;{{eachFacultydept.name}} </label>


            </div>
            <div class="row ">
                <div class="col-md-1 "></div>

                <div #staffCount *ngFor="let eachStaffType of eachFacultydept.staffType;let ci=index ">
                    <div class=" col-md-12 form-check ">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="eachStaffType.checked" (change)="selectThisTypeStaff(pi,ci,eachStaffType.checked)">
                         <!-- <input class="form-check-input " type="checkbox " [(ngModel)]="staffChild.checked " (change)="checkAllStaffType(pi,ci) "> --> 
                     <a [routerLink]="" (click)="showStaffs(pi,ci,eachFacultydept,eachStaffType) "> &nbsp;{{eachStaffType.name}} </a> <span *ngIf="eachStaffType.count != undefined && eachStaffType.count != 0">({{eachStaffType.count}})</span> 
                         <span *ngIf="pi=='1' && ci=='2'">All</span> 

                         <span #staffCount>{{staffCount.value}}</span> 
                </div>

            </div>
        </div>
    </div>
</div>
    </mat-tab>
    <mat-tab label="STUDENTS"> 
        <div class="text-center">
            <h5>Students</h5>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
            <span><input type="radio"  [(ngModel)]="studentRadio" value="CURRENT" (change)="getAccYears(studentRadio)" >&nbsp;Current Students</span></div>
            <div class="col-5"><span><input type="radio" [(ngModel)]="studentRadio" value="OLD" (change)="getAccYears(studentRadio)">&nbsp;Previous Students</span>
        </div>
        </div>
        <span><br></span>
                <div style="padding-left: 2%;">
        <div class="row form-check">
            <input class="form-check-input" type="checkbox" id="selectAllHod" [(ngModel)]="allDeptStudentsSelected.checked" (change)="selectUnselectAllDeptStudents(allDeptStudentsSelected.checked)">
            <label class="form-check-label" for="selectAllHod">
                &nbsp;Select All
    </label>
        </div>
        <div *ngFor="let eachDegreeDeptGroup of degreeDeptGroup;let pi=index ">
            <div class="row form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="eachDegreeDeptGroup.checked" (change)="selectThisDeptstu(pi,eachDegreeDeptGroup.checked)">
                <label class=" form-check-label " for="hod "> &nbsp;{{eachDegreeDeptGroup.degdep}} </label>


            </div>

                <span  *ngFor="let eachAccyearList of eachDegreeDeptGroup.accyearList;let ci=index ">
                    <div class=" col-md-12 form-check ">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="eachAccyearList.checked" (change)="selectThisAccYearStu(pi,ci,eachAccyearList.checked)">
                         &nbsp;{{eachAccyearList.startYear}}-{{eachAccyearList.endYear}}  
                         <span><br></span>
                    </div>
                     <span  *ngFor="let eachGroup of eachAccyearList.groups;let cci=index ">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp; <input class="form-check-input" type="checkbox" [(ngModel)]="eachGroup.checked" (change)="selectThisGroupStu(pi,ci,cci,eachGroup.checked)">
                            <span><a [routerLink]="" (click)="showStudents(pi,ci,cci,eachGroup.id) "> &nbsp;Group {{eachGroup.groupName}} </a>  </span>
                              <span *ngIf="eachGroup.count != undefined && eachGroup.count != 0">({{eachGroup.count}})</span>  
                </span> 
                      
            </span>
    </div>
    </div>
    <!-- </div> -->
    </mat-tab>
    <mat-tab label="PARENTS"> 
        <div class="alert alert-warning" *ngIf="!sms.checked">
            <span class="badge badge-warning"> Alert !</span> Please select Send as SMS to select parents.
          </div>
<div *ngIf="sms.checked">
        <div class="text-center">
            <h5>Parents</h5>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
            <span><input type="radio"  [(ngModel)]="parentsRadio" value="current" (change)="getParentsAccYears(parentsRadio)" >&nbsp;Current Students</span></div>
            <div class="col-5"><span><input type="radio" [(ngModel)]="parentsRadio" value="old" (change)="getParentsAccYears(parentsRadio)">&nbsp;Previous Students</span>
        </div>
        </div>
        <span><br></span>
                <div style="padding-left: 2%;">
        <div class="row form-check">
            <input class="form-check-input" type="checkbox" id="selectAllHod" [(ngModel)]="allDeptParentsSelected.checked" (change)="selectUnselectAllDeptParents(allDeptParentsSelected.checked)">
            <label class="form-check-label" for="selectAllHod">
                &nbsp;Select All
    </label>
        </div>
        <div *ngFor="let eachParentDegreeDeptGroup of parentsDegreeDeptGroup;let pi=index ">
            <div class="row form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="eachParentDegreeDeptGroup.checked" (change)="selectThisDeptParents(pi,eachParentDegreeDeptGroup.checked)">
                <label class=" form-check-label " for="hod "> &nbsp;{{eachParentDegreeDeptGroup.degdep}} </label>


            </div>

                <span  *ngFor="let eachAccyearList of eachParentDegreeDeptGroup.accyearList;let ci=index ">
                    <div class=" col-md-12 form-check ">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="eachAccyearList.checked" (change)="selectThisAccYearParents(pi,ci,eachAccyearList.checked)">
                         &nbsp;{{eachAccyearList.startYear}}-{{eachAccyearList.endYear}}  
                         <span><br></span>
                    </div>
                     <span  *ngFor="let eachGroup of eachAccyearList.groups;let cci=index ">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp; <input class="form-check-input" type="checkbox" [(ngModel)]="eachGroup.checked" (change)="selectThisGroupParents(pi,ci,cci,eachGroup.checked)">
                            <span><a [routerLink]="" (click)="showParentStu(pi,ci,cci,eachGroup.id) "> &nbsp;Group {{eachGroup.groupName}} </a>  </span>
                              <span *ngIf="eachGroup.count != undefined && eachGroup.count != 0">({{eachGroup.count}})</span>  
                </span> 
                      
            </span>
    </div>
    </div>
     </div> 
    </mat-tab>
  </mat-tab-group>
  <span><br></span>
 <span style="padding-left: 45%;"><button class="btn btn-success" (click)="send()">Send</button></span> 
<!-- <nav mat-tab-nav-bar >
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{ link }} </a>
    <a mat-tab-link disabled>Disabled Link</a>
  </nav> -->
<!-- <div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="horizontal">
        <li ngbNavItem="top">
            <a ngbNavLink>Hod</a>
            <ng-template ngbNavContent>
                <div class="text-center">
                    <h5>Hod</h5>
                </div>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="selectAllHod" [(ngModel)]="allHodSelected.checked" (change)="selectUnselectAllHod(allHodSelected)">
                        <label class="form-check-label" for="selectAllHod">
                            &nbsp; Select All
              
                
                </label>
                    </div>

                    <div class="form-check" *ngFor="let eachhod of allHods;let i=index ">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="eachhod.checked" id="hod" (change)="onChange(eachhod)">
                        <label class="form-check-label" for="hod">
                            &nbsp; {{eachhod.name | uppercase}}
                </label>
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem="middle">
            <a ngbNavLink>Staff</a>
            <ng-template ngbNavContent>
                <div>
                <div class="row form-check">
                    <input class="form-check-input" type="checkbox" id="selectAllHod" [(ngModel)]="allFacultyDeptSelected.checked" (change)="selectUnselectAllFacultyDepts(allFacultyDeptSelected.checked)">
                    <label class="form-check-label" for="selectAllHod">
                        &nbsp;Select All
            </label>
                </div>
                <div *ngFor="let eachFacultydept of facultyDepartments;let pi=index ">
                    <div class="row form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="eachFacultydept.checked" (change)="selectThisFacultyDeptStaff(pi,eachFacultydept.checked)">
                        <label class=" form-check-label " for="hod "> &nbsp;{{eachFacultydept.name}} </label>


                    </div>
                    <div class="row ">
                        <div class="col-md-1 "></div>

                        <div #staffCount *ngFor="let eachStaffType of eachFacultydept.staffType;let ci=index ">
                            <div class=" col-md-12 form-check ">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="eachStaffType.checked" (change)="selectThisTypeStaff(pi,ci,eachStaffType.checked)">
                                 <input class="form-check-input " type="checkbox " [(ngModel)]="staffChild.checked " (change)="checkAllStaffType(pi,ci) "> -->
                                <!-- <a [routerLink]="" (click)="showStaffs(pi,ci,eachFacultydept,eachStaffType) "> &nbsp;{{eachStaffType.name}} </a> <span *ngIf="eachStaffType.count != undefined && eachStaffType.count != 0">({{eachStaffType.count}})</span> -->
                                <!-- <span *ngIf="pi=='1' && ci=='2'">All</span> -->

                                <!-- <span #staffCount>{{staffCount.value}}</span> -->
                            <!-- </div>
                        </div>

                    </div>
                </div>
            </div>

            </ng-template>
        </li>
        <li ngbNavItem="bottom ">
            <a ngbNavLink>Student</a>
            <ng-template ngbNavContent>
                <div class="row">
                    <span><input type="radio"  (change)="getAccYears('CURRENT')">Current Students</span>
                    <span><input type="radio"  (change)="getAccYears('OLD')">Previous Students</span>

                </div>
                <div class="row form-check">
                    <input class="form-check-input" type="checkbox" id="selectAllHod" [(ngModel)]="allDeptStudentsSelected.checked" (change)="selectUnselectAllDeptStudents(allDeptStudentsSelected.checked)">
                    <label class="form-check-label" for="selectAllHod">
                        &nbsp;Select All
            </label>
                </div>
                <div *ngFor="let eachDegreeDeptGroup of degreeDeptGroup;let pi=index ">
                    <div class="row form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="eachDegreeDeptGroup.checked" (change)="selectThisDeptstu(pi,eachDegreeDeptGroup.checked)">
                        <label class=" form-check-label " for="hod "> &nbsp;{{eachDegreeDeptGroup.degdep}} </label>


                    </div>

                        <span  *ngFor="let eachAccyearList of eachDegreeDeptGroup.accyearList;let ci=index ">
                            <div class=" col-md-12 form-check ">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="eachAccyearList.checked" (change)="selectThisAccYearStu(pi,ci,eachAccyearList.checked)">
                                 &nbsp;{{eachAccyearList.startYear}}-{{eachAccyearList.endYear}}  
                                 <span><br></span>
                            </div>
                             <span  *ngFor="let eachGroup of eachAccyearList.groups;let cci=index ">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp; <input class="form-check-input" type="checkbox" [(ngModel)]="eachGroup.checked" (change)="selectThisGroupStu(pi,ci,cci,eachGroup.checked)">
                                    <span><a [routerLink]="" (click)="showStudents(pi,ci,cci,eachGroup.id) "> &nbsp;Group {{eachGroup.groupName}} </a>  </span>
                                      <span *ngIf="eachGroup.count != undefined && eachGroup.count != 0">({{eachGroup.count}})</span>  
                        </span> 
                              
                    </span>
            </div>

            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav " class="ml-4 "></div>
</div>  -->

<!-- <p>You can use alternative markup without <code>ul li</code> elements</p>

<nav ngbNav #nav="ngbNav " class="nav-tabs ">
    <ng-container ngbNavItem>
        <a ngbNavLink>One</a>
        <ng-template ngbNavContent>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>Two</a>
        <ng-template ngbNavContent>
            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR.
                Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical
                culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>Three</a>
        <ng-template ngbNavContent>
            <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et
                nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis.
                Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav " class="mt-2 "></div> -->

<!-- <ngb-tabset type="pills " [orientation]="currentOrientation ">
      <ngb-tab title="HOD 's">
        <ng-template ngbTabContent>
          <div class="text-center"><h5>Hod</h5></div>
<div ng-if="hodList.length>0">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="false" id="selectAllHod" ng-model="selectHods" ng-click="selectAllHod(hodList, selectHods)">
  <label class="form-check-label" for="selectAllHod">
   Select All

  
  </label>
</div>

<div class="form-check" *ngFor="let eachhod of hod ">
  <input class="form-check-input" type="checkbox" value= "eachhod.id" [(ngModel)]="hod.select" id="hod" (click)= "addhod(eachhod.id,hod)" >
  <label class="form-check-label" for="hod">
   {{eachhod.name | uppercase}}
   {{hod.select}}
  </label>
</div>
</div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle><b>Staff's</b></ng-template>
            <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
                    PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard
                    ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>



            </ng-template>
            </ngb-tab>

            <ngb-tab>
                <ng-template ngbTabTitle><b>Staff's</b></ng-template>
                <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                    <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
                        PBR. Homsatheeshaesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry
                        richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>



                </ng-template>
            </ngb-tab>
            </ngb-tabset> -->
<!-- </div>
</div> -->