/* Styles for tab labels */

.mat-tab-label {
    /* min-width: 25px !important; */
    padding: 5px;
    background-color: transparent;
    font-style: normal;
    font-weight: bolder;
    color: rgb(8, 8, 8);
}


/* Styles for the active tab label */

.mat-tab-label.mat-tab-label-active {
    padding: 5px;
    background-color: #3461e3;
    color: white;
    font-weight: 700;
}