
<!-- <app-staff-nav (staffnav)="loadSubjectData($event)"></app-staff-nav>
<div class="form-group row">
    <label for="regs" class="col-sm-3 text-right" >Subject* :</label>
    <div class="col-sm-6">
        <select  class="custom-select" name="regs"  #t (change)="onSelect(eachSubject)" [(ngModel)]="eachSubject"  >
            <option>-------------------- Select Subject -------------------</option>
            <option style="font-size: 18px" [ngValue]="eachSubject" *ngFor="let eachSubject of subjectreport  | groupBy:'sem'">{{eachSubject.subjectName}}</option>
        </select>
    </div>
  </div> -->