<section class="container-fluid flex-grow">

    <div *ngIf="currentUser.userType !='STUDENT'" class="row">
    <div class="col-md-12 order-md-1 pt-3">
      <div class="bg-faded mb-3">
          <div class="card bg-light">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </div>
  <!-- <div *ngIf="currentUser.userType =='STUDENT'" class="row">
    <div  class="col-md-12 order-md-1 pt-3">
        <div class="bg-faded mb-3">
            <div class="card bg-light">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
  </div> -->

</section>
